### Load ipython-sql library

Load **ipython-sql** library to access RDBMS via IPython

In [1]:
%load_ext sql

### Configuration

Check default configuration such as *autolimit*, *displaylimit*, *autocommit*, etc.

There is no autolimit by default. However, *autolimit* (if set) limits the size of the result set (usually with a LIMIT clause in the SQL). *displaylimit* is similar, but the entire result set is still pulled into memory (for later analysis); only the screen display is truncated.

In [2]:
%config SqlMagic

SqlMagic options
--------------
SqlMagic.autocommit=<Bool>
    Current: True
    Set autocommit mode
SqlMagic.autolimit=<Int>
    Current: 0
    Automatically limit the size of the returned result sets
SqlMagic.autopandas=<Bool>
    Current: False
    Return Pandas DataFrames instead of regular result sets
SqlMagic.column_local_vars=<Bool>
    Current: False
    Return data into local variables from column names
SqlMagic.displaycon=<Bool>
    Current: True
    Show connection string after execute
SqlMagic.displaylimit=<Int>
    Current: None
    Automatically limit the number of rows displayed (full result set is still
    stored)
SqlMagic.dsn_filename=<Unicode>
    Current: 'odbc.ini'
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
SqlMagic.feedback=<Bool>
    Current: True
    Print number of rows affected by DML
SqlMagic.short_errors=<Bool>
    Current: True
    Don't display the full traceback on SQL Programming Error
SqlMagic.style=<Unicode>
    Current: 'DEFAULT'
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM)

In [3]:
%config SqlMagic.autolimit=1000 # limit the size of result set
#%config SqlMagic.autocommit=False # for engines that do not support autommit

In [4]:
%config SqlMagic.autolimit

1000

### Preparation

In [5]:
import boto3
import json
import urllib
import os

# Prettifies Python exception output to make it legible
import pretty_errors

In [6]:
AWS_REGION = os.environ['AWS_REGION']

In [7]:
cf_stack_name = "SMAuroraMySQLStack" # name of CloudFormation stack

In [8]:
def get_secret_name(stack_name):
    cf_client = boto3.client('cloudformation', region_name=AWS_REGION)
    response = cf_client.describe_stacks(StackName=cf_stack_name)
    outputs = response["Stacks"][0]["Outputs"]

    secrets = [e for e in outputs if e['ExportName'].endswith('DBSecretName')][0]
    secret_name = secrets['OutputValue']
    return secret_name

In [9]:
def get_secret(secret_name):

    # Create a Secrets Manager client
    client = boto3.client('secretsmanager', region_name=AWS_REGION)
    get_secret_value_response = client.get_secret_value(SecretId=secret_name)
    secret = get_secret_value_response['SecretString']

    return json.loads(secret)

### Connecting

In [10]:
secret_name = get_secret_name(cf_stack_name)
secret = get_secret(secret_name)

db_username = secret['username']
db_password = urllib.parse.quote_plus(secret['password'])
db_port = secret['port']
db_host = secret['host']

In [11]:
conn_uri_str = f"mysql+pymysql://{db_username}:{db_password}@{db_host}:{db_port}/?charset=utf8"
%sql $conn_uri_str

### Runing queries

In [12]:
%sql show databases;

 * mysql+pymysql://admin:***@sm-mysql.cluster-cnrh6fettief.us-east-1.rds.amazonaws.com:3306/?charset=utf8
4 rows affected.

[('information_schema',), ('mysql',), ('performance_schema',), ('sys',)]

In [13]:
%%sql
select user
from mysql.user;

 * mysql+pymysql://admin:***@sm-mysql.cluster-cnrh6fettief.us-east-1.rds.amazonaws.com:3306/?charset=utf8
3 rows affected.

[('admin',), ('mysql.sys',), ('rdsadmin',)]

In [14]:
%%sql
create database test;
show databases;

 * mysql+pymysql://admin:***@sm-mysql.cluster-cnrh6fettief.us-east-1.rds.amazonaws.com:3306/?charset=utf8
1 rows affected.
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',)]

In [15]:
%%sql
use test;

create table if not exists pet (
    name varchar(20),
    owner varchar(20),
    species varchar(20),
    sex char(1),
    birth date,
    death date);

show tables;

 * mysql+pymysql://admin:***@sm-mysql.cluster-cnrh6fettief.us-east-1.rds.amazonaws.com:3306/?charset=utf8
0 rows affected.
0 rows affected.
1 rows affected.

[('pet',)]

In [16]:
%sql describe test.pet;

 * mysql+pymysql://admin:***@sm-mysql.cluster-cnrh6fettief.us-east-1.rds.amazonaws.com:3306/?charset=utf8
6 rows affected.

[('name', 'varchar(20)', 'YES', '', None, ''),
 ('owner', 'varchar(20)', 'YES', '', None, ''),
 ('species', 'varchar(20)', 'YES', '', None, ''),
 ('sex', 'char(1)', 'YES', '', None, ''),
 ('birth', 'date', 'YES', '', None, ''),
 ('death', 'date', 'YES', '', None, '')]

In [17]:
%%sql
insert into test.pet (name, owner, species, sex, birth, death)
values ("Fluffy", "Harold", "cat", "f", "1993-02-04", NULL),
("Claws", "Gwen", "cat", "m", "1994-03-17", NULL),
("Buffy", "Harold", "dog", "f", "1989-05-13", NULL),
("Fang", "Benny", "dog", "m", "1990-08-27", NULL),
("Bowser", "Diane", "dog", "m", "1979-08-31", "1995-07-29"),
("Chirpy", "Gwen", "bird", "f", "1998-09-11", NULL),
("Whistler", "Gwen", "bird", "", "1997-12-09", NULL),
("Slim", "Benny", "snake", "m", "1996-04-29", NULL);

 * mysql+pymysql://admin:***@sm-mysql.cluster-cnrh6fettief.us-east-1.rds.amazonaws.com:3306/?charset=utf8
8 rows affected.

[]

In [18]:
%%sql
select *
from test.pet;

 * mysql+pymysql://admin:***@sm-mysql.cluster-cnrh6fettief.us-east-1.rds.amazonaws.com:3306/?charset=utf8
8 rows affected.

[('Fluffy', 'Harold', 'cat', 'f', datetime.date(1993, 2, 4), None),
 ('Claws', 'Gwen', 'cat', 'm', datetime.date(1994, 3, 17), None),
 ('Buffy', 'Harold', 'dog', 'f', datetime.date(1989, 5, 13), None),
 ('Fang', 'Benny', 'dog', 'm', datetime.date(1990, 8, 27), None),
 ('Bowser', 'Diane', 'dog', 'm', datetime.date(1979, 8, 31), datetime.date(1995, 7, 29)),
 ('Chirpy', 'Gwen', 'bird', 'f', datetime.date(1998, 9, 11), None),
 ('Whistler', 'Gwen', 'bird', '', datetime.date(1997, 12, 9), None),
 ('Slim', 'Benny', 'snake', 'm', datetime.date(1996, 4, 29), None)]